body {
    font-family: Nunito;
    font-weight: 500;
    font-size: 18;
    color: #282828;
    margin: 0px;
}

img {
    border-radius: 50%;
    height: 36px;
}

ul{
    list-style-type: none;
    margin-top: 0px;    
    row-gap: 10px;
}

li{
    margin-top: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=text] {
    width: 94%;
    height:52px;
    font-weight: 0;
    font-size: 16;
    margin-left: 3%;
    margin-top: 22px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    border-color:#EEEEEE;
    background-image:url("assets/Filled-Action-search.svg");
    background-repeat:no-repeat;
    background-position: left 15px center;
    padding-left: 40px;
  }
  

input[type=text]:focus {
   width:94%;
   background-image:none;
  }

.exitbutton{
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    float: right;
}
.exitbutton:hover{
    color:gray;
}
.exitbutton:active{
    border-style:none;
}
.windowtitle {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
}
.topbar {
    text-align: center;
    color: white;
    background-color: #5265E8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 12%;
    width: 100%;
}
.border{
    border-bottom: 1px solid #1592E6;
    border-left: 1px solid #1592E6;
    border-right: 1px solid #1592E6;
    height: 88%;
}
.theme {
    margin-top: 100px;
    margin-left: 100px;
    box-shadow: 5px 10px 10px #888888;
    height: 42.5%;
    width: 35%;
    margin-bottom: 15px;
}
.agents{
    font-weight: 600;
    font-size: 16;
    padding-left: 3%;
    padding-top: 25px;
}
